<html>
<head>
    <meta charset="utf-8">
    <style>
        {{ css }}
        .wrapper {
            max-width: 800px;
            margin: 0 auto;
            padding: 0 20px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <article>
            {{ content }}
            {{ signature }}
        </article>
    </div>
</body>
</html>
